
table.tabla {
    background-color: #FDCBDD;
    width: 100%;
}

table.menu {
    float: left;
    width: 100%;
}

td.menu {
    width: 33.33%;
}
td.menu:hover {
    background-color: #ec7ba5;	
    margin: 0px;
}
th {
    background-color: #ffd9d9;
}

th.content {
    background-color: #f7e1e9;
}

a {
    text-decoration: none;
}

#datos {
    background-color: #f7e1e9;
}

#contenedor {
    background-color: #f9f9f9; 
    margin-left: 18%;
    margin-right: 18%;
}

div.titulo {
    background-color: #ffd9d9;
    padding: 1px;
}

footer {
    background-color: #FDCBDD;
}
